.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
  min-height: 2vh;
}

.simple-form {
  display: flex;
  overflow-y: scroll;
  padding-bottom: 1.25rem;
}
.simple-form input,
button {
  font-size: 18px;
  margin: 1.25rem 0.5rem;
  border: 1px solid #eee;
  border-radius: 5px;
}

.simple-form button:active {
  background-color: lightskyblue;
}

.simple-form input {
  border-left: 6px solid;
  transition: border-color 0.5s ease-out;
}

.port-input {
  min-width: 6vh;
  max-width: 6vh;
}

.simple-form input:required {
  border-left-color: palegreen;
}

.simple-form input:invalid {
  border-left-color: salmon;
}
